
*{
    padding: 0;
    margin: 0;
    align-items: center;
}
.container{
    display: grid;
    grid-template-areas: "header header header header header header "
    "left left main main main main"
    "footer footer footer footer footer footer "
    ;
}

header{
    grid-area: header;
    height: 10vh;
    border: solid rgb(225, 228, 226);
    background-color: rgb(11, 11, 14);
    text-align: right;
    margin-top: 20px;

}
header>nav{
    margin-top: 3vh;
    justify-content: space-between;
    word-spacing: 10px;
}
a{
    text-decoration: none;
    color: rgba(115, 118, 121, 0.932);
}

.left{
    grid-area: left;
    height: 70vh;
    border: solid white;   
}
aside>img{
    size: 100vh;
    height: 40vh;
    width: 160vh;
    justify-content: start;
}
.text{
    display: flex;
}
h1{
    color: rgb(7, 7, 6);
}
h2{
    color: whitesmoke;
}
main{
    grid-area: main;
    border: solid white;
    height: 70vh;
    color: rgba(240, 248, 255, 0.747);
    background-color: black;
}
footer{
    grid-area: footer;
    border: solid rgb(63, 54, 54);
    height: 50vh;
    background-color: rgb(5, 5, 5);
    display: flex;

}
.first{
    width: 100%;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}
.second{
    color: grey;
    background-color: greenyellow;
}
.second>img{
    width: 50px;
}