*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url(/asserts/Web.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    
}
   /* Navigation Bar */

   .nav {
    height: 90px;
    width: 100%;
    position: relative;
    
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    /* font-size: 22px;
    color: #16ced4;
    padding: 10px 10px 10px 10px;
    font-size: 40px; */
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 28px;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #f0ec0c;
    margin-top: 16px;
    font-size: 30px;
  }
  
  .nav > .nav-links > a:hover {
    background-color: rgba(10, 218, 3, 0.3);
  }
  
  .nav > #nav-check {
    display: none;
  }

.img{
height:14vh;
border-radius: 50px;
margin-left: 40px;
margin-top: 3px;

}
.form-container{
    display: grid;
    place-items: center;
    min-height: 70vh;
}

form{
    border: 1px solid green;
    /* background-color: rgb(240, 229, 229); */
    background-image: url(/asserts/webb.jpg);
    /* background-repeat: no-repeat; */
    width: 55%;
    margin-top: 50px;
    justify-content: center;
    
}
label,h3{
  color: greenyellow;
  animation: ease-in-out ;
}
h2{
    text-align: center;
    color: pink;
}
.name{
    display: flex;
    /* justify-content: space-between; */
    gap: 10rem;
    margin-left: 10px;
    margin-top: 20px;
}
#name{
     padding: 15px;
     /* border: 3px solid red; */
     width: 120%;
     font-size: 20px;
     border-radius: 10px;
}
#email{
    padding: 15px;
    width: 95%;
    font-size: 20px;
    border-radius: 10px;
    /* border: 3px solid red ; */
}
.email{
    display: block;
    margin: 20px 20px;
    width: 100%;
    
}
.phone{
    display: block;
    margin: 20px 20px;
    width: 100%;
    
}

#phone{
    padding: 15px;
    width: 95%;
    font-size: 20px;
    border-radius: 10px;
    /* border: 3px solid red ; */
}
.product-div{
     
      display: block;
    margin: 20px 20px;
    width: 100%;
}
#products{
    padding: 10px;
    background-color: aquamarine;
    text-align: center;
    color: green;
}
#btn{
   margin: auto;
   display: block;
   width: 200px;
   padding: 10px;
   border-radius: 10px;
   background-color: green;
   color: beige;
    
}
a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 20px;
}
p{
  color: rgb(0, 255, 76);
  text-align: center;
}
@media only screen and (max-width: 500px){
   
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav{
    height: 80px;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .nav > .nav-header > .nav-title{
    font-size: 30px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
    padding-top: 25px;
  }
  
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 6px solid #f1e9ea;
    margin-top: -3px;
    margin-left: -20px;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 50%;
    background-color: #fabb0c;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    right: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
    color: blue;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(70vh - 50px);
    overflow-y: auto;
  }
  img{
      height:25vh;
      border-radius: 50px;
      margin-left: 40px;
      
  }
  body{
      background-image: url(/asserts/Web.jpg);
      background-repeat: no-repeat;
      background-size: cover;

      height: 100vh;
      
  }
  .form-container{
    display: grid;
    place-items: center;
    min-height: 70vh;
}

form{
    border: 1px solid green;
   /* background-image: none; */
    background-color: rgb(70, 51, 53);
    width: 95%;
    margin-top: 100px;
    justify-content: center;
    
}
h2{
    text-align: center;
}
.name{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
    margin: 30px 0;
}
#name{
     padding: 10px;
     /* border: 3px solid red; */
     width: 100%;
     font-size: 20px;
     border-radius: 7px;
}
#email{
    padding: 10px;
    width: 95%;
    font-size: 20px;
    border-radius: 10px;
    /* border: 3px solid red ; */
}
.email{
    display: block;
    margin: 10px 0;
    width: 100%;
    
}
.phone{
    display: block;
    margin: 20px 0;
    width: 100%;
    
}

#phone{
    padding: 10px;
    width: 95%;
    font-size: 20px;
    border-radius: 10px;
    /* border: 3px solid red ; */
}
.product-div{
     
      display: block;
    /* margin: 20px 20px; */
    width: 50%;
}
#products{
    padding: 4px;
    background-color: aquamarine;
    color: rgb(128, 47, 0);
    /* right: 200px; */

}
#btn{
   margin: auto;
   display: block;
   width: 100px;
   padding: 10px;
   border-radius: 10px;
   background-color: green;
   color: beige;
    
}
a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 20px;
}

}